.fund-image-section
{
    width: 7%;
}
.fund-image-section img{
    width: 100%;
}
.fund-input
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.p-field-input
{
    width: 100%;
}
.fund-input-in
{
    width: 100%;
}
.fund-logo-text-parent
{
    width: 100%;
    padding-left: 2%;
}
.fund-logo-text
{
    line-height:2.5;
}

.fund-input-in{
    padding-left: 2%;
}